body {
    background-color: #ADD8E6;
}

.header {
    text-align: center;
    border: 2px solid black;
    font-weight: bold;
    color: black;
    margin: 0px 0px 20px 0px;
    padding: 40px 0px 40px 0px;
    background-image: url("https://images2.minutemediacdn.com/image/upload/c_crop,h_1349,w_2400,x_0,y_134/f_auto,q_auto,w_1100/v1633552438/shape/mentalfloss/651042-gettyimages-1326020302.jpg");
    background-size: cover;
}

.body_layout {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-grow: 1;
}

.fish_collection {
    background-color: black;
    border: 2px solid black;
    width: 38%;
    height: 800px;
}

h2 {
    border: 2px solid black;
    color: white;
    background-color: #DAA520;
    box-shadow: 5px 10px black;
    margin: 10px 10px 20px 10px;
    display: flex;
    justify-content: center;
}

.fish_list {
    display: flex;
    flex-direction: column;
}

.fish_card {
    background-color: #008B8B;
    border: 1px solid black;
    height: 215px;
    margin: 10px 10px 10px 10px;
    padding-left: 10px;
    padding-top: 10px;
    display: flex;
}

.fish__image {
    height: 200px;
    width: 300px;
}

.fish_properties {
    font-size: larger;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    margin-left: 50px;
}


.location_tips {
    background-color: #008B8B;
    border: 2px solid black;
    display: flex;
    justify-content: right;
    flex-direction: column;
    height: 800px;
    width: 38%;
}

.travel_tips {
    font-size: larger;
    font-style: italic;
    float: left;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 20px;
    margin-left: 10px;
    
}

.locations {
    font-size: larger;
    font-style: italic;
    float: left;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;

}

.aside {  
    display: flex;
    width: 20%;
    background-color: #008B8B;
    border: 2px solid black;
    height: 800px;
}

.martins_tips {
    display: flex;
}

.cleaning_tips {
    font-size: larger;
    font-style: italic;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 20px;
    margin-right: 10px;


}

